<a href="https://colab.research.google.com/github/huron1996/TSP_problem_heredity_solution/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np

city_names=pd.Series(['San Francisco','San Jose','Sacramento'])
population=pd.Series([1000,2332,2433])
cities = pd.DataFrame({'City name':city_names,'Population':population})
print(type(cities['City name'][1]))
print(type(cities[0:2]))
#np.log(population)
population.apply(lambda val: val>1000)

<class 'str'>
<class 'pandas.core.frame.DataFrame'>

0    False
1     True
2     True
dtype: bool

In [18]:
import pandas as pd

california_housing_dataframe=pd.read_csv("https://download.mlcc.google.cn/mledu-datasets/california_housing_train.csv",sep=",")
california_housing_dataframe.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]